body {
    margin: 0;
    padding-bottom: 3em;
    position: relative;
    background-color: #e2fa69;
}

header {
    background-color: #86f723;
    text-align: center;
    width: 100%;
    position: fixed;
}

main {
    padding: 6px;
}

h1 {
    color: blue;
    text-align: center;
}

.action {
    border: solid 2px black;
}

.picture {
    width: 100%;
}

select {
    background-color: blue;
    color: bisque;
    border: none;
}

select:hover {
    background-color: red;
}

.footer-container {
    text-align: center;
    border-top: solid 1px black;
}


ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 10px;
}

@media screen and (min-width: 600px) {
    main {
        display: flex;
        flex-wrap: wrap;
    }

    main div {
        flex: 1;
        min-width: 45%;
        margin: 10px;
        padding: 10px;
        border: 1px solid green;
    }

}

@media screen and (min-width: 800px) {
    main {
        width: 780px;
        margin: auto;
    }
}

@media screen and (min-width: 1200px) {
    main {
        width: 1180px;
    }

    main div {
        min-width: 25%;
    }
}